@import "tailwindcss";


body{

    background-color:rgb(241,245,241);
}

.apply{
    background-color:white!;
}

.dark-blue{

    background-color:rgb(18, 18, 35);
}

.image-style{

     width:300px;
     height:300px;

}